<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#iptjpgvq {
    font-size: 31px;
}

#idmk8m4n {
    min-height: 30px;
    width: 930px;
    height: 100px;
    max-width: auto;
    margin: 0  0;
    padding: 20px  0 0;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    margin-top: 0px;
}

:root {
    margin-top: 0px;
}

.gjs-am-file-uploader > form {
    min-height: 325px !important;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.c439159 {
    padding: 10px;
    font-size: 20px;
    color: #212529;
}

.link {
    color: #6c5dcd;
}

.c441845 {
    background-color: rgb(255, 255, 255);
}
</style>




<div class="container">
    <h2 id="iptjpgvq"><b>Create a FreeUp Account</b></h2>
    <h2 id="idmk8m4n">                                                    Client Signup<div><br/></div></h2>
    <div class="c439159">Already have an account?<a href="https://webbuilder.flowzcluster.tk/editor"
        class="link c441845"> Log in</a>
    </div>
    <div class="c439159">Are you a freeelancer? <a href="" class="link">Apply as a freeelancer</a>
    </div>
    <div class="c439159">
        <br/>
    </div>
    <div class="c439159">EMAIL ADDRESS</div>
</div>